<header>
  <h1>t-ui launcher</h1>
  <h5>
    <ul class="nav" style="padding-bottom:0px;">
      <li><a target="_blank" href="https://play.google.com/store/apps/details?id=ohi.andre.consolelauncher">[Play Store]</a></li>
      <li><a target="_blank" href="https://www.reddit.com/r/tui_launcher/">[Reddit]</a></li>
      <li><a target="_blank" href="https://twitter.com/tui_launcher">[Twitter]</a></li>
      <li><a target="_blank" href="https://t.me/tuilauncher">[Telegram]</a></li>
    </ul>
  </h5>
  <ul class="nav">
    <li><a href="{{ nav_link }}">[{{ nav_label }}]</a></li>
  </ul>
</header>
<div class="toastMe toastHide"></div>
