<html lang=en>

  <head>
    <meta charset="UTF-8">
    <title>
      T-UI Launcher
    </title>

    {% load static %}
    <link rel="icon" href="{% static "imgs/favicon.png" %}">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css" />

    <!-- Scripts -->
    <!-- jQuery Library -->
    <script src="{% static "js/jquery-3.3.1.min.js" %}" charset="utf-8"></script>
    <!-- Core Script -->
    <script src="{% static "js/script.js" %}" charset="utf-8"></script>
    <!-- FileSaver Library -->
    <script src="{% static "js/FileSaver.js" %}" charset="utf-8"></script>
    <!-- JSZIP Library -->
    <script src="{% static "js/jszip.min.js" %}" charset="utf-8"></script>

    <script type="text/javascript">
      /* execute only when the page is ready */
      $(document).ready(function() {
        var offset = 220;
        var duration = 500;
        var scrollDown = 0;
        $(window).scroll(function() {
          if ($(this).scrollTop() > offset) {
            $('.back-to-top').fadeIn(duration);
          } else {
            $('.back-to-top').fadeOut(duration);
          }
          if (scrollDown > 0) {
            $('.back-to-down').fadeIn(duration);
          } else {
            $('.back-to-down').fadeOut(duration);
          }
        });

        $('.back-to-top').click(function(event) {
          event.preventDefault();
          $('html, body').animate({
            scrollTop: 0
          }, duration);
          scrollDown = event.pageY - window.innerHeight + 50;
          return false;
        });

        $('.back-to-down').click(function(event) {
          event.preventDefault();
          $('html, body').animate({
            scrollTop: scrollDown
          }, duration);
          scrollDown = 0;
          return false;
        });

        var display_themes = 20;
        var order_type = "ASC";
        var order_by = "name";

        $(document).on("click", ".loadMore", function() {
          $(this).css("display", "none");
          getData(display_themes, order_by, order_type);
        });

        $(document).on("click", ".sortButton", function() {
          $("#theme_list").html('');
          last = 0;
          order_type = $("#orderType option:selected").attr('value');
          order_by = $("#orderBy option:selected").attr('value');
          getData(display_themes, order_by, order_type);
        });

        String.prototype.format = function() {
          a = this;
          for (k in arguments) {
            a = a.replace("{" + k + "}", arguments[k])
          }
          return a
        }

        function getData(n, order_by, order_type) {
          $.ajax({
                  url: '/ajax/more_themes/{0}/{1}/{2}'.format(n,order_by,order_type),
                  type: 'get',
                  success: function (data) {
                    $("#theme_list").append(data);
                    last += 20;
                  },
                  error: function (data) {
                    console.log('error');
                    console.log(data);
                  }
                });
        }
      });

    </script>

  </head>

  <body>
    <div class="container">

      {{ header }}

      <div class="theme_list_form">
        <div class="theme_list_sort">
          <select id="orderBy" name="orderBy">
            <option selected="selected" value="0">Theme Name</option>
            <option value="1">Author Name</option>
            <option value="2">Number of Downloads</option>
          </select>
          <select id="orderType" name="orderType">
            <option value="0">
              Ascending
            </option>
            <option selected="selected" value="1">
              Decending
            </option>
          </select>
          <button class="sortButton">Rearrange List</button>
        </div>
        <div class="theme_list_search" style="display:none;">
          <input type="search" />
          <button class="searchButton"><i class="material-icons md-24">search</i></button>
        </div>
      </div>

      <!-- start of theme list -->
      <div class="theme_list" id="theme_list">
        {{ theme_list }}
      </div>
      <!-- end of theme list -->

      <a href="#" class="back-to-top"><i class="material-icons md-18">arrow_upward</i></a>
      <a href="#" class="back-to-down"><i class="material-icons md-18">arrow_downward</i></a>
  </body>

</html>
