<html lang=en>
  <head>
    <meta charset="UTF-8">
    <title>T-UI Launcher</title>

    {% load static %}
    <link rel="icon" href="{% static "imgs/favicon.png" %}">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css" />

    <!-- Scripts -->
    <!-- jQuery Library -->
    <script src="{% static "js/jquery-3.3.1.min.js" %}" charset="utf-8"></script>
    <!-- FileSaver Library -->
    <script src="{% static "js/FileSaver.js" %}" charset="utf-8"></script>
    <!-- JSZIP Library -->
    <script src="{% static "js/jszip.min.js" %}" charset="utf-8"></script>
    <!-- Core Script -->
    <script src="{% static "js/script.js" %}" charset="utf-8"></script>
    <!-- Color library -->
    <script src="{% static "js/jscolor.js" %}" charset="utf-8"></script>
  </head>
  <body>
    <div class="container">

      <header>
        <h1>t-ui launcher</h1>
        <h5>
          <ul class="nav" style="padding-bottom:0px;">
            <li><a target="_blank" href="https://play.google.com/store/apps/details?id=ohi.andre.consolelauncher">[Play Store]</a></li>
            <li><a target="_blank" href="https://www.reddit.com/r/tui_launcher/">[Reddit]</a></li>
            <li><a target="_blank" href="https://twitter.com/tui_launcher">[Twitter]</a></li>
            <li><a target="_blank" href="https://t.me/tuilauncher">[Telegram]</a></li>
          </ul>
        </h5>
        <ul class="nav">
          <li><a href="./index.php">[View Themes]</a></li>
          <li><a href="./create.php">[New Theme]</a></li>
        </ul>
      </header>
      <div class="toastMe toastHide"></div>

      <div class="create_theme">
        <div class="theme_details">
          <div class="half">
            <div class="bg_color theme_preview" style="background-color: {{ default_theme.bg_color }};">
              <div class="bg_image"></div>
              <div class="upperLayer">
                <div class="upperLayer">
                  <span class="device_color" style="color:{{ default_theme.device_color }};">bullhead : Joe</span>
                  <span class="ram_color" style="color:{{ default_theme.ram_color }};">RAM: 18%</span>
                  <span class="battery_color_high" style="color:{{ default_theme.battery_color_high }};">{{ dt_string }}</span>
                  <span class="storage_color" style="color:{{ default_theme.storage_color }};">Internal Storage: 10%</span>
                  <span class="notes_color" style="color:{{ default_theme.notes_color }};">Notes</span>
                  <br>
                  <span class="input_color" style="color:{{ default_theme.input_color }};">echo t-ui!</span>
                  <span class="output_color" style="color:{{ default_theme.output_color }};">t-ui!</span>
                <br>
                <div class="input_area">
                  <span class="input_color" style="color:{{ default_theme.input_color }};">$</span>
                  <input type="text" class="input_color" style="color:{{ default_theme.input_color }};">
                  <i class="input_color enter_color material-icons float-right" style="color:{{ default_theme.input_color }};">arrow_back</i>
                </div>
                <div class="bottom-toolbar toolbar_color toolbar_bg" style="color:{{ default_theme.toolbar_color }};background-color:{{ default_theme.toolbar_bg }};">
                  <i class="material-icons md-18">close</i>
                  <i class="material-icons md-24">keyboard_arrow_up</i>
                  <i class="material-icons md-24">keyboard_arrow_down</i>
                  <i class="material-icons md-18">content_paste</i>
                </div>
                <div class="suggestions">
                  <div class="box file_bg_color file_text_color" style="color: {{ default_theme.file_text_color }};background-color: {{ default_theme.file_bg_color }};">file</div>
                  <div class="box apps_bg_color apps_text_color" style="color: {{ default_theme.apps_text_color }};background-color: {{ default_theme.apps_bg_color }};">apps</div>
                  <div class="box cmd_bg_color cmd_text_color" style="color: {{ default_theme.cmd_text_color }};background-color: {{ default_theme.cmd_bg_color }};">cmd</div>
                  <div class="box song_bg_color song_text_color" style="color: {{ default_theme.song_text_color }};background-color: {{ default_theme.song_bg_color }};">song</div>
                  <div class="box alias_bg_color alias_text_color" style="color: {{ default_theme.alias_text_color }};background-color:{{ default_theme.alias_bg_color }};">alias</div>
                  <div class="box contact_bg_color contact_text_color" style="color: {{ default_theme.contact_text_color }};background-color: {{ default_theme.contact_bg_color }};">contact</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="two-thirds third">
          <div class="controls">
            <h1>theme.xml</h1>
            <div class="pallet themexml">
              <div class="swatch" style="background-color:{{ default_theme.alias_content_color }}">
                <label for="alias_content_color">alias_content_color</label>
                <input type="color" defaultvalue="{{ default_theme.alias_content_color }}" value="{{ default_theme.alias_content_color }}">
              </div>
              <div class="swatch" style="background-color:{{ default_theme.app_installed_color }}">
                <label for="app_installed_color">app_installed_color</label>
                <input type="color" defaultvalue="{{ default_theme.app_installed_color }}" value="{{ default_theme.app_installed_color }}">
              </div>
              <div class="swatch" style="background-color:{{ default_theme.app_uninstalled_color }}">
                <label for="app_uninstalled_color">app_uninstalled_color</label>
                <input type="color" defaultvalue="{{ default_theme.app_uninstalled_color }}" value="{{ default_theme.app_uninstalled_color }}">
              </div>
              <div class="swatch" style="background-color:{{ default_theme.battery_color_high }}">
                <label for="battery_color_high">battery_color_high</label>
                <input type="color" defaultvalue="{{ default_theme.battery_color_high }}" value="{{ default_theme.battery_color_high }}">
              </div>
              <div class="swatch" style="background-color:{{ default_theme.battery_color_low }}">
                <label for="battery_color_low">battery_color_low</label>
                <input type="color" defaultvalue="{{ default_theme.battery_color_low }}" value="{{ default_theme.battery_color_low }}">
              </div>
              <div class="swatch" style="background-color:{{ default_theme.battery_color_medium }}">
                <label for="battery_color_medium">battery_color_medium</label>
                <input type="color" defaultvalue="{{ default_theme.battery_color_medium }}" value="{{ default_theme.battery_color_medium }}">
              </div>
              <div class="swatch" style="background-color:{{ default_theme.bg_color }}">
                <label for="bg_color">bg_color</label>
                <input type="color" defaultvalue="{{ default_theme.bg_color }}" value="{{ default_theme.bg_color }}">
              </div>
              <div class="swatch" style="background-color:{{ default_theme.device_color }}">
                <label for="device_color">device_color</label>
                <input type="color" defaultvalue="{{ default_theme.device_color }}" value="{{ default_theme.device_color }}">
              </div>
              <div class="swatch" style="background-color:{{ default_theme.input_color }}">
                <label for="input_color">input_color</label>
                <input type="color" defaultvalue="{{ default_theme.input_color }}" value="{{ default_theme.input_color }}">
              </div>
              <div class="swatch" style="background-color:{{ default_theme.enter_color }}">
                <label for="enter_color">enter_color</label>
                <input type="color" defaultvalue="{{ default_theme.enter_color }}" value="{{ default_theme.enter_color }}">
              </div>
              <div class="swatch" style="background-color:{{ default_theme.navigationbar_color }}">
                <label for="navigationbar_color">navigationbar_color</label>
                <input type="color" defaultvalue="{{ default_theme.navigationbar_color }}" value="{{ default_theme.navigationbar_color }}">
              </div>
              <div class="swatch" style="background-color:{{ default_theme.output_color }}">
                <label for="output_color">output_color</label>
                <input type="color" defaultvalue="{{ default_theme.output_color }}" value="{{ default_theme.output_color }}">
              </div>
              <div class="swatch" style="background-color:{{ default_theme.ram_color }}">
                <label for="ram_color">ram_color</label>
                <input type="color" defaultvalue="{{ default_theme.ram_color }}" value="{{ default_theme.ram_color }}">
              </div>
              <div class="swatch" style="background-color:{{ default_theme.statusbar_color }}">
                <label for="statusbar_color">statusbar_color</label>
                <input type="color" defaultvalue="{{ default_theme.statusbar_color }}" value="{{ default_theme.statusbar_color }}">
              </div>
              <div class="swatch" style="background-color:{{ default_theme.storage_color }}">
                <label for="storage_color">storage_color</label>
                <input type="color" defaultvalue="{{ default_theme.storage_color }}" value="{{ default_theme.storage_color }}">
              </div>
              <div class="swatch" style="background-color:{{ default_theme.time_color }}">
                <label for="time_color">time_color</label>
                <input type="color" defaultvalue="{{ default_theme.time_color }}" value="{{ default_theme.time_color }}">
              </div>
              <div class="swatch" style="background-color:{{ default_theme.toolbar_bg }}">
                <label for="toolbar_bg">toolbar_bg</label>
                <input type="color" defaultvalue="{{ default_theme.toolbar_bg }}" value="{{ default_theme.toolbar_bg }}">
              </div>
              <div class="swatch" style="background-color:{{ default_theme.toolbar_color }}">
                <label for="toolbar_color">toolbar_color</label>
                <input type="color" defaultvalue="{{ default_theme.toolbar_color }}" value="{{ default_theme.toolbar_color }}">
              </div>
              <div class="swatch" style="background-color:{{ default_theme.notes_color }}">
                <label for="notes_color">notes_color</label>
                <input type="color" defaultvalue="{{ default_theme.notes_color }}" value="{{ default_theme.notes_color }}">
              </div>
              <div class="swatch" style="background-color:{{ default_theme.notes_locked_color }}">
                <label for="notes_locked_color">notes_locked_color</label>
                <input type="color" defaultvalue="{{ default_theme.notes_locked_color }}" value="{{ default_theme.notes_locked_color }}">
              </div>
              <div class="swatch" style="background-color:{{ default_theme.link_color }}">
                <label for="link_color">link_color</label>
                <input type="color" defaultvalue="{{ default_theme.link_color }}" value="{{ default_theme.link_color }}">
              </div>
            </div>
            <h1>suggestions.xml</h1>
            <div class="pallet suggestionsxml">
              <div class="checkbox">
                <label for="enabled">enabled true</label>
              </div>
              <div class="checkbox">
                <label for="transparent">transparent false</label>
              </div>
              <div class="swatch" style="background-color:{{ default_theme.alias_bg_color }}">
                <label for="alias_bg_color">alias_bg_color</label>
                <input type="color" defaultvalue="{{ default_theme.alias_bg_color }}" value="{{ default_theme.alias_bg_color }}">
              </div>
              <div class="swatch" style="background-color:{{ default_theme.alias_text_color }}">
                <label for="alias_text_color">alias_text_color</label>
                <input type="color" defaultvalue="{{ default_theme.alias_text_color }}" value="{{ default_theme.alias_text_color }}">
              </div>
              <div class="swatch" style="background-color:{{ default_theme.apps_bg_color }}">
                <label for="apps_bg_color">apps_bg_color</label>
                <input type="color" defaultvalue="{{ default_theme.apps_bg_color }}" value="{{ default_theme.apps_bg_color }}">
              </div>
              <div class="swatch" style="background-color:{{ default_theme.apps_text_color }}">
                <label for="apps_text_color">apps_text_color</label>
                <input type="color" defaultvalue="{{ default_theme.apps_text_color }}" value="{{ default_theme.apps_text_color }}">
              </div>
              <div class="swatch" style="background-color:{{ default_theme.cmd_bg_color }}">
                <label for="cmd_bg_color">cmd_bg_color</label>
                <input type="color" defaultvalue="{{ default_theme.cmd_bg_color }}" value="{{ default_theme.cmd_bg_color }}">
              </div>
              <div class="swatch" style="background-color:{{ default_theme.cmd_text_color }}">
                <label for="cmd_text_color">cmd_text_color</label>
                <input type="color" defaultvalue="{{ default_theme.cmd_text_color }}" value="{{ default_theme.cmd_text_color }}">
              </div>
              <div class="swatch" style="background-color:{{ default_theme.contact_bg_color }}">
                <label for="contact_bg_color">contact_bg_color</label>
                <input type="color" defaultvalue="{{ default_theme.contact_bg_color }}" value="{{ default_theme.contact_bg_color }}">
              </div>
              <div class="swatch" style="background-color:{{ default_theme.contact_text_color }}">
                <label for="contact_text_color">contact_text_color</label>
                <input type="color" defaultvalue="{{ default_theme.contact_text_color }}" value="{{ default_theme.contact_text_color }}">
              </div>
              <div class="swatch" style="background-color:{{ default_theme.default_bg_color }}">
                <label for="default_bg_color">default_bg_color</label>
                <input type="color" defaultvalue="{{ default_theme.default_bg_color }}" value="{{ default_theme.default_bg_color }}">
              </div>
              <div class="swatch" style="background-color:{{ default_theme.default_text_color }}">
                <label for="default_text_color">default_text_color</label>
                <input type="color" defaultvalue="{{ default_theme.default_text_color }}" value="{{ default_theme.default_text_color }}">
              </div>
              <div class="swatch" style="background-color:{{ default_theme.file_bg_color }}">
                <label for="file_bg_color">file_bg_color</label>
                <input type="color" defaultvalue="{{ default_theme.file_bg_color }}" value="{{ default_theme.file_bg_color }}">
              </div>
              <div class="swatch" style="background-color:{{ default_theme.file_text_color }}">
                <label for="file_text_color">file_text_color</label>
                <input type="color" defaultvalue="{{ default_theme.file_text_color }}" value="{{ default_theme.file_text_color }}">
              </div>
              <div class="swatch" style="background-color:{{ default_theme.song_bg_color }}">
                <label for="song_bg_color">song_bg_color</label>
                <input type="color" defaultvalue="{{ default_theme.song_bg_color }}" value="{{ default_theme.song_bg_color }}">
              </div>
              <div class="swatch" style="background-color:{{ default_theme.song_text_color }}">
                <label for="song_text_color">song_text_color</label>
                <input class="jscolor {width:101, padding:0, shadow:false, borderWidth:0, backgroundColor:'transparent', insetColor:'#000'}",
                      defaultvalue="{{ default_theme.song_text_color }}" value="{{ default_theme.song_text_color }}">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
