<html lang=en>
  <head>
    <meta charset="UTF-8">
    <title>T-UI Launcher</title>

    {% load static %}
    <link rel="icon" href="{% static "imgs/favicon.png" %}">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css" />

    <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>

    <!-- Scripts -->
    <!-- jQuery Library -->
    <script src="{% static "js/jquery-3.3.1.min.js" %}" charset="utf-8"></script>
    <!-- FileSaver Library -->
    <script src="{% static "js/FileSaver.js" %}" charset="utf-8"></script>
    <!-- JSZIP Library -->
    <script src="{% static "js/jszip.min.js" %}" charset="utf-8"></script>
    <!-- Core Script -->
    <script src="{% static "js/script.js" %}" charset="utf-8"></script>
    <!-- Color library -->
    <script src="{% static "js/jscolor.js" %}" charset="utf-8"></script>
  </head>
  <body>
    <div class="container">

      {{ header }}

      <div class="create_theme">
        <div class="theme_details">
          <div class="half">
            {{ default_theme_preview }}
          </div>

          <div class="two-thirds third">
            <div class="controls">
              <h1>theme.xml</h1>
              <div class="pallet themexml">
                <div class="swatch" style="background-color:{{ default_theme.bg_color }}">
                  <label for="bg_color">bg_color</label>
                  <input class="jscolor" defaultvalue="{{ default_theme.bg_color }}" value="{{ default_theme.bg_color }}">
                </div>
                <div class="swatch" style="background-color:{{ default_theme.device_color }}">
                  <label for="device_color">device_color</label>
                  <input class="jscolor" defaultvalue="{{ default_theme.device_color }}" value="{{ default_theme.device_color }}">
                </div>
                <div class="swatch" style="background-color:{{ default_theme.input_color }}">
                  <label for="input_color">input_color</label>
                  <input class="jscolor" defaultvalue="{{ default_theme.input_color }}" value="{{ default_theme.input_color }}">
                </div>
                <div class="swatch" style="background-color:{{ default_theme.output_color }}">
                  <label for="output_color">output_color</label>
                  <input class="jscolor" defaultvalue="{{ default_theme.output_color }}" value="{{ default_theme.output_color }}">
                </div>
                <div class="swatch" style="background-color:{{ default_theme.ram_color }}">
                  <label for="ram_color">ram_color</label>
                  <input class="jscolor" defaultvalue="{{ default_theme.ram_color }}" value="{{ default_theme.ram_color }}">
                </div>
                <div class="swatch" style="background-color:{{ default_theme.storage_color }}">
                  <label for="storage_color">storage_color</label>
                  <input class="jscolor" defaultvalue="{{ default_theme.storage_color }}" value="{{ default_theme.storage_color }}">
                </div>
                <div class="swatch" style="background-color:{{ default_theme.time_color }}">
                  <label for="time_color">time_color</label>
                  <input class="jscolor" defaultvalue="{{ default_theme.time_color }}" value="{{ default_theme.time_color }}">
                </div>
                <div class="swatch" style="background-color:{{ default_theme.toolbar_bg }}">
                  <label for="toolbar_bg">toolbar_bg</label>
                  <input class="jscolor" defaultvalue="{{ default_theme.toolbar_bg }}" value="{{ default_theme.toolbar_bg }}">
                </div>
                <div class="swatch" style="background-color:{{ default_theme.toolbar_color }}">
                  <label for="toolbar_color">toolbar_color</label>
                  <input class="jscolor" defaultvalue="{{ default_theme.toolbar_color }}" value="{{ default_theme.toolbar_color }}">
                </div>
                <div class="swatch" style="background-color:{{ default_theme.notes_color }}">
                  <label for="notes_color">notes_color</label>
                  <input class="jscolor" defaultvalue="{{ default_theme.notes_color }}" value="{{ default_theme.notes_color }}">
                </div>
                <div class="swatch" style="background-color:{{ default_theme.battery_color_high }}">
                  <label for="battery_color_high">battery_color_high</label>
                  <input class="jscolor" defaultvalue="{{ default_theme.battery_color_high }}" value="{{ default_theme.battery_color_high }}">
                </div>
                <div class="swatch" style="background-color:{{ default_theme.battery_color_medium }}">
                  <label for="battery_color_medium">battery_color_medium</label>
                  <input class="jscolor" defaultvalue="{{ default_theme.battery_color_medium }}" value="{{ default_theme.battery_color_medium }}">
                </div>
                <div class="swatch" style="background-color:{{ default_theme.battery_color_low }}">
                  <label for="battery_color_low">battery_color_low</label>
                  <input class="jscolor" defaultvalue="{{ default_theme.battery_color_low }}" value="{{ default_theme.battery_color_low }}">
                </div>
                <div class="swatch" style="background-color:{{ default_theme.enter_color }}">
                  <label for="enter_color">enter_color</label>
                  <input class="jscolor" defaultvalue="{{ default_theme.enter_color }}" value="{{ default_theme.enter_color }}">
                </div>
              </div>
              <h1>suggestions.xml</h1>
              <div class="checkboxs">
                <input type="checkbox" name="check_enabled" value="show_suggestions" checked>show_suggestions
                <input type="checkbox" name="check_transparent" value="transparent_suggestions">transparent_suggestions
              </div>
              <div class="pallet suggestionsxml">
                <div class="swatch" style="background-color:{{ default_theme.alias_bg_color }}">
                  <label for="alias_bg_color">alias_bg_color</label>
                  <input class="jscolor" defaultvalue="{{ default_theme.alias_bg_color }}" value="{{ default_theme.alias_bg_color }}">
                </div>
                <div class="swatch" style="background-color:{{ default_theme.alias_text_color }}">
                  <label for="alias_text_color">alias_text_color</label>
                  <input class="jscolor" defaultvalue="{{ default_theme.alias_text_color }}" value="{{ default_theme.alias_text_color }}">
                </div>
                <div class="swatch" style="background-color:{{ default_theme.apps_bg_color }}">
                  <label for="apps_bg_color">apps_bg_color</label>
                  <input class="jscolor" defaultvalue="{{ default_theme.apps_bg_color }}" value="{{ default_theme.apps_bg_color }}">
                </div>
                <div class="swatch" style="background-color:{{ default_theme.apps_text_color }}">
                  <label for="apps_text_color">apps_text_color</label>
                  <input class="jscolor" defaultvalue="{{ default_theme.apps_text_color }}" value="{{ default_theme.apps_text_color }}">
                </div>
                <div class="swatch" style="background-color:{{ default_theme.cmd_bg_color }}">
                  <label for="cmd_bg_color">cmd_bg_color</label>
                  <input class="jscolor" defaultvalue="{{ default_theme.cmd_bg_color }}" value="{{ default_theme.cmd_bg_color }}">
                </div>
                <div class="swatch" style="background-color:{{ default_theme.cmd_text_color }}">
                  <label for="cmd_text_color">cmd_text_color</label>
                  <input class="jscolor" defaultvalue="{{ default_theme.cmd_text_color }}" value="{{ default_theme.cmd_text_color }}">
                </div>
                <div class="swatch" style="background-color:{{ default_theme.contact_bg_color }}">
                  <label for="contact_bg_color">contact_bg_color</label>
                  <input class="jscolor" defaultvalue="{{ default_theme.contact_bg_color }}" value="{{ default_theme.contact_bg_color }}">
                </div>
                <div class="swatch" style="background-color:{{ default_theme.contact_text_color }}">
                  <label for="contact_text_color">contact_text_color</label>
                  <input class="jscolor" defaultvalue="{{ default_theme.contact_text_color }}" value="{{ default_theme.contact_text_color }}">
                </div>
                <div class="swatch" style="background-color:{{ default_theme.file_bg_color }}">
                  <label for="file_bg_color">file_bg_color</label>
                  <input class="jscolor" defaultvalue="{{ default_theme.file_bg_color }}" value="{{ default_theme.file_bg_color }}">
                </div>
                <div class="swatch" style="background-color:{{ default_theme.file_text_color }}">
                  <label for="file_text_color">file_text_color</label>
                  <input class="jscolor" defaultvalue="{{ default_theme.file_text_color }}" value="{{ default_theme.file_text_color }}">
                </div>
                <div class="swatch" style="background-color:{{ default_theme.song_bg_color }}">
                  <label for="song_bg_color">song_bg_color</label>
                  <input class="jscolor" defaultvalue="{{ default_theme.song_bg_color }}" value="{{ default_theme.song_bg_color }}">
                </div>
                <div class="swatch" style="background-color:{{ default_theme.song_text_color }}">
                  <label for="song_text_color">song_text_color</label>
                  <input class="jscolor" defaultvalue="{{ default_theme.song_text_color }}" value="{{ default_theme.song_text_color }}">
                </div>
              </div>
            </div>
          </div>

          <div class="download links">
            <a id="zip-download">    [Download ZIP]   </a>
            <a id="publish-online">    [Publish]   </a>
          </div>

          <div class="download user-form" style="display:none;">
            <div>
              <ul class="publish-form">
                <li>
                  <small>Name</small>
                  <input type="text" id="theme_name" pattern=".{5,}" name="theme_name" required title="Theme Name minimum 5 Characters long">
                </li>
                <li>
                  <small>Author</small>
                  <input type="text" id="author_name" name="author_name" title="Your Name">
                </li>
              </ul>
              <a id="zip-download-published">      [Download Zip]     </a>
              <a id="sendData">      [Publish Theme]     </a>
              <a id="cancelSendData">      [Cancel]     </a>
            </div>
          </div>
          <span class="saved" style="display:none;">
            <div class="desktop-only">
              <div class="themeString">
                <code><pre>theme id not available before publishing</pre></code>
              </div>
            </div>
            <div class="mobile-only">
              <div class="themeString">
                <code><pre>theme id not available before publishing</pre></code>
              </div>
              <div class="mobile-only">
                <a>      [Paste into T-UI]     </a>
              </div>
            </div>
          </span>
        </div>
      </div>
    </div>
  </body>
</html>
